{
  "parser": "babel-eslint",

  "extends": ["react-app"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "valid-jsdoc": 2,
    "react/prop-types": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-no-undef": 2,
    "import/no-unresolved": ["error", { "ignore": ["^react$"] }],
    "import/unambiguous": 0,
    "react/jsx-key": 0,
    "jsx-a11y/href-no-hash": "off"
  }
}
